/*
Theme Name: Flatsome Child Theme
Theme URI: http://flatsome.uxthemes.com/
Description: This is a child theme for Flatsome
Author: UX Themes
Author URI: http: //www.uxthemes.com/
Template: flatsome
Version: 2.0
*/

/*************** ADD YOUR CUSTOM CSS IN THIS AREA ***************/

#s8fl-bbb-info.s8fl-inline-style {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    width: 450px;
}
#s8fl-bbb-info.s8fl-inline-style p {
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 0;
}

li.menu-item .nav-dropdown li a {
    line-height: 1.2em;
    padding: 5px 0 4px;
}

ul.header-nav li .nav-dropdown > ul > li.menu-parent-item {
    width: 200px !important;
}
#top-bar .right-text {
    line-height: 36px;
}


.custom select {
    text-transform: none;
}

.basic_button a { color: #fff; }
.basic_button a:hover { color: #000; }

.related-product:hover .flickity-prev-next-button { opacity: 1; }
.related-product .row.column-slider {}
.single-product .row .row { width: 100%; }
/*.related-product { padding-top: 70px; }
#slider_related { height: auto !important; min-height: auto !important; max-height: auto; overflow: hidden; position: relative; } 
.slider-pagination a { position: absolute; top: 50%; margin-top: -50px; width: 50px; height: 50px; text-align: center; background-color: #fff; font-size: 40px; line-height: 50px;  }

.slider-pagination a.next-slide { right: 30px; }*/

/*@media only screen and (max-width: 768px){
    .wide-nav { display: block !important; }
    .wide-nav li.active a.nav-top-link { color: #777 !important; }
    .wide-nav .search-dropdown { display: none !important; }
    .wide-nav .nav-dropdown { margin-left: 0 !important; }
    .wide-nav .tabbed + .nav-dropdown { display: block !important; }
    .wide-nav .nav-dropdown ul { overflow: hidden; }
    .wide-nav .nav-dropdown li { padding: 4px 0;}
    .wide-nav li { width: 100%; }

    .wide-nav { max-height: 0; overflow: hidden; opacity: 0;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .wide-nav.show { max-height: 89999px; opacity: 1; }
}*/

/** Header **/
#logo a img {
    max-height: 90px;
}
@media only screen and (max-width: 480px){
  #logo a img {
      max-height: 60px;
  }
}
#top-bar {
  height: 56px;
}
#top-bar .html>* {
  display: inline-block;
}
.ux-header-element a {
  color: #c1c1c1;
  display: inline-block;
  margin-left: 7.5px;
  border: 2px solid #cccccc;
  padding: 8px 15px !important;
  line-height: 16px;
  font-size: 12px !important;
  transition: all .2s linear;
}
.ux-header-element a:hover {
  border-color: transparent;
  color: #fff;
}
@media screen and (min-width: 850px) {
  .header-nav .html .col {
    padding-bottom: 0px;
  }
  .header-nav .html .col:last-of-type .col-inner {
    padding-top: 10px;
  }
}
.back-to-top {
  bottom: 10%;
}

/** Columns **/
@media only screen and (max-width: 480px){
    .small-columns-2 .flickity-slider>div {
        width: 100%;
        max-width: 100%;
    }
}
/** Fix for wrong order on sidebar in flatsome **/
@media only screen and (max-width: 849px){
  .col-first {
      -webkit-order: inherit;
      -ms-flex-order: inherit;
      order: inherit;
  }
}

/** Page templates **/
@media only screen and (min-width: 850px){
  .page-template-page-left-sidebar .page-inner {
    padding-left: 20px;
  }
}

/** Forms **/
input[type=text], input[type=number] {
    height: 36px;
}

/** Woocommerce **/
@media only screen and (min-width: 48em) {
  .product-gallery.col {
      width: 58.33333%;
      max-width: 58.33333%;
      -webkit-flex-basis: 58.33333%;
      -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
  }
}
.product-sidebar-small {
    display: none;
}
.product-info {
  text-align: center;
}
.is-divider {
  margin: 1em auto 1em auto;
}
.product_meta {
  text-align: left;
}
.variations_form, form.cart {
  text-align: left;
  background: #f7f7f7;
  padding: 0;
  border: 3px solid #627f9a;
}
.variations_form>*, form.cart>* {
  padding: 5px 10px;
}
form.cart button[type="submit"] {
  margin: 20px auto;
  max-width: 90%;
  display: block;
}
.form-header {
  background: #627f9a;
  color: #fff;
  font-weight: bold;
  padding: 4px;
}
.woocommerce-variation-price {
  text-align: right;
}
.variations {
    margin-bottom: 0;
}
button.single_add_to_cart_button {
    background: #d26e4b;
    border-color: #d26e4b;
    width: 100%;
    margin-bottom: 0;
}
.product-details {
    margin-top: 20px;
}
.required {
    color: red;
}
.cart-item .nav-dropdown {
  width: 340px;
}
.cart_list .variation_question_mark {
  display: none !important;
}
.variation dt {
  font-weight: bold;
}
.shipping th {
  width: 100%;
  display: block;
  border-bottom: 0;
}
.shipping td {
  width: 100%;
  display: block;
  right: -75px;
  position: relative;
}
.shipping td li {
  margin-bottom: 5px;
}

/** Woocommerce Wishlist **/
/*.product-image .yith-wcwl-add-button > a.add_to_wishlist, .yith-wcwl-add-button>a.button.alt {
    color: #c60000;
    border-color: #c60000;
    opacity: .8;
    background: transparent;
    font-size: 30px;
}
.product-small:hover .yith-wcwl-add-to-wishlist a, .featured-product:hover .yith-wcwl-add-to-wishlist a, .product-gallery:hover .yith-wcwl-add-to-wishlist a {
    opacity: .8 !important;
}
.product-image .yith-wcwl-add-button > a.add_to_wishlist:hover, .yith-wcwl-add-button>a.button.alt:hover {
    color: #c60000;
    border-color: #c60000;
}*/

/** Woocommerce Wishlist **/
.wishlist-button {
    color: #c60000;
    border-color: #c60000;
    opacity: 1 !important;
    background: transparent;
    /*font-size: 30px;*/
}
.product-small .image-tools.top.right {
    opacity: .8;
}
.wishlist-button:hover {
  opacity: 1;
}
.yith-wcwl-add-button a {
  background: transparent !important;
  line-height: 1.3;
  text-align: center;
  font-size: .9em;
  text-transform: none;
  letter-spacing: 0;
  padding:2px;
  margin: 0;
}

/** Woocommerce Addons **/
.product-addon {
    position: relative;
}
.addon-description {
    position: absolute;
    /*visibility: hidden;*/
    /*opacity: 0;*/
    bottom: 100%;
    left: 0;
    transition: all .2s ease-in-out;
    background: #fff;
    border: 1px solid #627f9a;
    padding: 10px;
    border-radius: 5px;
    display: none;
}
.product-addon .form-row label {
  font-weight: 500;
}
.product-addon .form-row span.amount {
  font-weight: 500;
}
.product-addon .form-row .woocommerce-Price-currencySymbol {
  vertical-align: baseline;
  margin-top: 0;
}
.product-addon-totals {
  text-align: right;
}
dl.product-addon-totals dd {
    float: right;
}
.addon-popup {
    background: white;
    padding: 20px 40px;
    display: block;
    margin: 0 auto;
    max-width: 800px;
}
.addon-popup p {
    margin-bottom: 0;
}
.question-icon {
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    color: #597ed4;
}
.question-icon:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: -6px;
    width: 20px;
    height: 20px;
    border: 1px solid #d0d0d0;
    border-radius: 50%;

}
.addon-description p {
    margin: 0 !important;
}
.product-addon>h3 {
    font-size: 13px;
    float: left;
    width: 60%;
    margin-bottom: 0;
    line-height: 36px;
}
.product-addon .form-row {
    width: 40%;
    float: left;
}
.product-addon input[type=checkbox] {
    margin-top: 12px;
}
.product-addon select, .product-addon input {
    margin-bottom: 0;
}
.product-addon p {
    margin: 0;
}
.product_meta a {
  font-size: 15px;
  font-weight: bold;
}
#whats_included_link {
  margin-bottom: 10px;
  display: block;
}
.summary .yith-wcwl-add-to-wishlist {
  display: none;
}
.mfp-content-hidden {
  display: none;
}


/* Enter Your Custom CSS Here */

.cat-footer ul {
  margin: 0px 0px 0px 30px;
}

.home #plan-data, #slider_related #plan-data {
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin: 10px 11px;
  background: #eee;
  padding: 15px 20px;
}

#plan-data {
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin: 10px 0px;
  background: #eee;
  padding: 15px 25px;
}

.adspace-header {
  width: 100%;
  text-align: center;
  margin: 0 auto 40px;
}
.house-plants > li {
    background: rgba(0, 0, 0, 0) url("http://americangables.wpengine.com/wp-content/uploads/2015/12/aa.png") repeat scroll 0 0;
    font-family: Open Sans;
    font-size: 15px;
    line-height: 36px;
    list-style: outside none none;
}
.adspace-footer {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

.adspace-sidebar {
  text-align: center;
  margin: 50px auto;
}

.searchandfilter .meta-slider {
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  height: 15px;
  max-width: 250px!important;
  margin: 10px auto!important;
}
.row.main-part{
    background: #536b94 none repeat scroll 0 0 !important;
   padding: 25px 0;
}
.row.main-part p, .row.main-part img {
  margin-bottom: 0;
}
.row.main-part .large-6, .row.main-2 .large-6, .row.main-3 .large-6, .row.main-5 .large-6, .row.main-7 .large-6 {
  padding-bottom: 0;
}
.first-sheet.large-6 {
    color: #fff;
    font-family: Myriad Pro;
    font-size: 18px;
    margin-top: 51px;
    padding-left: 20px;
}
.row.main-2 {
    padding: 21px 0;
}
.home-plan h3 {
    color: #fff;
     font-family: open sans;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}
.row.main-3 {
     background: #202d45 none repeat scroll 0 0 !important;
   padding: 25px 0;
}
.home-class .col {
    background: #202d45 none repeat scroll 0 0;
    padding: 12px 0 4px;
}
.row.main-5 {
     background: #d8efff none repeat scroll 0 0 !important;
   padding: 25px 0;
}

.row.main-7 {
     background: #e5edf4 none repeat scroll 0 0 !important;
   padding: 25px 0;
}
.row.main-all-list {
    background: #f3f3f3 none repeat scroll 0 0;
    padding: 24px 0;
  border: 1px solid #e2e2e2 ;
}
.house-plants > li{
background: rgba(0, 0, 0, 0) url("http://americangables.wpengine.com/wp-content/uploads/2015/12/aa.png") no-repeat scroll 0 13px;
  font-family: Open Sans;
  font-size: 15px;
  line-height: 36px;
  list-style: outside none none;
  padding-left: 13px;

}


.secound-sheet.large-6 {
    color: #525252;
    font-family: Myriad Pro;
    font-size: 18px;
    margin-top: 45px;
    padding-left: 20px;
}
.row.container.home-class {
    margin-bottom: 0 !important;
    padding: 0 !important;
}
@media only screen and (max-width: 768px) {
  .cat-footer {
    float: left;
    width: 100%;
  }
  
  .adspace, .adspace-sidebar {
    display:none;
  }
}



/*************** Navigation ****************/
/*Has Mobile Override*/
ul.header-nav>li:first-child ul {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

/************* Gallery image size ***************/
.product-gallery-slider .slide img {
  width: 100% !important;
  min-width: auto !important;
  max-width: 100%;
  margin: auto;
}

/************* Quick Reference Section ***************/
.quick-reference {
    width: 90px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 10px 20px 10px 0;
    text-align: center;
}

.quick-reference .quick-reference-value {
    margin-top: 58px;
    height: 25px;
    font-size: 18px;
    color: #FFF;
    margin-bottom: 10px;
}

/*************** Tables ***************/

TABLE.table-formatting {
        background-color: #eee;
}

.table-formatting TH {
        background-color: #ddd;
        padding: 15px 0 10px 30px;
}

TD.table-formatting-left {
        vertical-align: top;
        padding: 20px 0 0 30px;
}

.table-formatting TD {
        vertical-align: top;
        padding: 20px 30px 0 30px;
}

.table-formatting IMG {
        margin: 20px;
}

/*************** Page lists***************/

.page-wrapper ul {      /*Uses wordpress .page-wrapper*/
        margin-left: 1em;
}

.page-wrapper ol li {   /*Uses wordpress .page-wrapper*/
        margin-top: 1em;
}

/*************** Popups ******************/
.white-popup {
    position: relative;
    background: #FFF;
    padding: 40px;
    width: 400px;
    max-width: 80%;
    margin: 20px auto;
}
.white-popup.wide {
    width: 80%;
}


/*************** Social Share Buttons ***************/

.product-info .share-row {
  margin: 0 0 5px 0;
  padding: 0;
}

/*************** Column Arrangement **************/
/*Has Mobile Override*/
.injecting-column {
    position:absolute;
}

/*************** CSS Buttons ***************/
.basic_button {
    display: block;
    cursor: pointer;    
    background-color: #627f9a;
    margin: 10px 0;
    padding: 10px;
    color: #fff;
}

.basic_button:hover {
color: #000;
}

/*************** Links and stuff ***************/
.variation_question_mark sup {
  font-size: 110%;
}

/*************** Search forms ***************/
form.searchandfilter div.meta-range, form.searchandfilter label, form.searchandfilter select {
  font-size: 90%;
}
form.searchandfilter li.cat-item, form.searchandfilter li.cat-item label {
  display: inline;
  margin-right: .3em;
}
form.searchandfilter input {
  display: inline;
  margin:0;
}
form.searchandfilter input[type='text'] {
  width: 10em;
}
.searchandfilter_abhp_rollup {
  padding:0;
}
.searchandfilter_abhp_rollup ul {
  padding-bottom: 1em;
}
.searchandfilter_abhp_rollup h4 a:before {
  content: "";
  font-family: "icomoon";
  margin-right: .5em;
}
.searchandfilter_abhp_rollup h4.active a:before {
  content: "";
}
.searchandfilter_abhp_rollup ul li.cat-item {
  display: block;
}

/*************** Quick Search ***************/
.text-box .text-inner {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 5px;
    text-align: center;
}
.text-box #advanced_search_link {
  text-decoration: underline;
  width: 100%;
  max-width: 100%;
  padding: 0 5px;
  margin: 0 !important;
}
.text-box form.searchandfilter h4 {
  margin: 0;
  padding: 0 0 5px;
  font-size: 100%;
}
.text-box form.searchandfilter>ul>li {
  padding: 5px 0;
}
.text-box select {
  margin-bottom: 0px;
}
.text-box form {
  margin-bottom: 13px;
}


/*************** Print style ***************/
@page {
  size:8.5in 11in;
  margin: 2cm 0;
}
@media print {
  /*************** Column Arrangement ***************/
  .injecting-column {
    position:static;
  }
  /*************** URL display ***************/
  a[href]:after {
    content: none;
  }
  /*************** Hide header and main footer (don't hide copyright) ***************/
  .header-wrapper, .footer-2  {
    display: none;
  }
  /*************** Show package choices ***************/
  #package_choices_popup {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}


/**
 * Mobile styling
 */
 @media only screen and (max-width:48em) {
    /*************** Navigation ****************/
    ul.header-nav>li:first-child ul {
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }

    /*************** Column Arrangement ***************/
    .injecting-column {
        position:static;
    }

    /*************** Search form for mobile ***************/
    .ux_banner .inner {
      width: 80% !important;
      min-width: 80% !important;
      max-width: 80% !important;
    }
    form.searchandfilter input {
      margin-bottom: 1em;
    }
 }

 /**
  * Alerts
  */
.alert {
  background: #64a5e2;
  border: 3px solid #00a1ff;
  padding: 10px;
  margin-bottom: 30px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.cart .alert {
  margin: 20px;
}